<!DOCTYPE html>
<html>
<head>
  <title>Anonymust</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="header">
    <div id="brand">Notely</div>
  </div>


  <div class="container">
      	<div ><%= yield %></div>
  </div>



</body>
</html>
 